x-spring-app: &spring-app-base
  # Config réutilisable pour les différentes spring app
  build:
    context: .
    dockerfile: Dockerfile
  environment:
    SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
    SPRING_DATASOURCE_URL: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    SPRING_DATASOURCE_USERNAME: ${DB_USER}
    SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
  networks:
    - sql_Spring
  depends_on:
    mysql:
      condition: service_healthy
  restart: unless-stopped
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"

services:
  spring-app_1: # spring-app v1
    <<: *spring-app-base
    container_name: spring-app_1
    expose:
      - ${APP_PORT}

  spring-app_2: # spring-app v2
    <<: *spring-app-base
    container_name: spring-app_2
    expose:
      - ${APP_PORT}

  nginx:
    image: nginx:latest # Dernière version LTS de Nginx
    container_name: nginx
    ports:
      - "${NGINX_PORT}:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro # Read only uniquement
    depends_on:
      - spring-app_1
      - spring-app_2
    networks:
      - sql_Spring

  mysql:
    image: mysql:8.4 # Dernière version LTS de MySQL
    container_name: mysql
    environment: # Paramètres d'environnement de MySQL (info de connexion)
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    volumes:
      # Volume de données persistantes
      - db_data:/var/lib/mysql
      # Exécute automatiquement tous les .sql/.sh/.sql.gz au premier démarrage
      - ./monannuaire_mysql.sql:/docker-entrypoint-initdb.d/db.sql:ro  # Read only uniquement
    networks:
      - sql_Spring # Réseaux de MySQL et App Srping
      - sql_PHPAdmin # Réseaux de MySQL et PHPMyadmin
      - sql_Backup
    healthcheck:
      #On vérifie que la BD est bien démarrée (Objectif éviter que Spring crash dès le début!)
      test: ["CMD-SHELL", "mysql -u${DB_USER} -p${DB_PASSWORD} -e 'USE ${DB_NAME};' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 5s

  phpmyadmin:
    image: phpmyadmin:latest # Dernière version de PHPMyAdmin
    container_name: phpmyadmin
    environment: # Paramètres d'environnement (info de connexion client à MySQL)
      PMA_HOST: mysql
      PMA_PORT: ${DB_PORT}
    ports:
      - "${PHPMYADMIN_PORT}:80"
    depends_on:
      mysql:
        condition: service_healthy # On utilise la condition "service_healthy" pour attendre que "healthcheck" de MySQL soit OK
    networks:
      - sql_PHPAdmin

  mysql-backup:
    # Service autonome créée pour l'occasion avec un script .sh
    # Sauvegarde la base de donnée toutes les 12h
    image: mysql:8.4 # Dernière version LTS de MySQL
    container_name: mysql-backup
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - ./backups:/backups
      - ./backup.sh:/backup.sh:ro
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    entrypoint: [ "/backup.sh" ]
    networks:
      - sql_Backup
    restart: unless-stopped

  sonar-db:
    image: postgres:17 # Dernière version supportée par sonarqube
    container_name: sonar-db
    environment:
      POSTGRES_USER: ${SONAR_DB_USER}
      POSTGRES_PASSWORD: ${SONAR_DB_PASSWORD}
      POSTGRES_DB: ${SONAR_DB_NAME}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${SONAR_DB_USER} -d ${SONAR_DB_NAME}"]
      interval: 10s
      retries: 20
    volumes:
      - sonar_db_data:/var/lib/postgresql/data
    networks:
      - sonar_network

  sonarqube:
    image: sonarqube:community # Dernière version sonarqube en community
    container_name: sonarqube
    environment:
      SONAR_JDBC_URL: jdbc:postgresql://sonar-db:5432/${SONAR_DB_NAME}
      SONAR_JDBC_USERNAME: ${SONAR_DB_USER}
      SONAR_JDBC_PASSWORD: ${SONAR_DB_PASSWORD}
      SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: true
    volumes:
      - sonar_data:/opt/sonarqube/data
      - sonar_extensions:/opt/sonarqube/extensions
      - sonar_logs:/opt/sonarqube/logs
    ports:
      - "${SONAR_PORT}:9000"
    depends_on:
      sonar-db:
        condition: service_healthy
    networks:
      - sonar_network

  sonar-maven-scanner:
    image: maven:3.9  # Dernière version Maven 3.0 avant la version 4.0 (Release candidate actuellement)
    container_name: sonar-maven-scanner
    working_dir: /app
    volumes:
      - .:/app
      - maven_cache:/root/.m2
    environment:
      SONAR_HOST_URL: "http://sonarqube:9000"
      SONAR_TOKEN: ${SONAR_TOKEN}
    depends_on:
      sonarqube:
        condition: service_started
    networks:
      - sonar_network
    profiles:
      - scan
    restart: "no"
    command:
      - sh
      - -c
      - |
        echo 'Waiting for SonarQube...'
        until curl -sf http://sonarqube:9000/api/system/status | grep UP; do sleep 5; done
        echo 'Building and analyzing project...'
        mvn clean verify sonar:sonar \
          -Dsonar.projectKey=spring-app \
          -Dsonar.projectName="Spring Application" \
          -Dsonar.host.url=http://sonarqube:9000 \
          -Dsonar.token=${SONAR_TOKEN}
        echo 'Analysis completed! Check http://localhost:9000'

networks:
  sql_PHPAdmin:
    driver: bridge # Réseaux de MySQL et PHPMyadmin
  sql_Spring:
    driver: bridge # Réseaux de MySQL et App Srping
  sql_Backup:
    driver: bridge # Réseau de Mysql et backup
  sonar_network:
    driver: bridge # Réseau de Sonar

volumes:
  db_data:          # Volume de stockage de la Base de données applicative

  sonar_db_data:    # Volume de stockage de la Base de données Sonarcube

  sonar_data:       # Volume de stockage Sonarcube - data
  sonar_extensions: # Volume de stockage Sonarcube - extension/plugin
  sonar_logs:       # Volume de stockage Sonarcube - logs

  maven_cache:      #  sonar-maven-scanner